
.container{
font-family: ;
}
.container .title-section{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: ;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.container .title-about::before{
  content: " ";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
.container .title-about::after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}
.container .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.container .content .column-left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;
  
}
.container .content .right{
  width: 55%;
}

@media (max-width: 979px) {
  .container .content .column-left img {
    height: 200px;
    width: 200px;
  }
  .descrition {
    font-size: var(--mb-0-5);
  }
  .descrition-text {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .container .content .column-left img {
    height: 200px;
    width: 200px;
  }
  .descrition {
    font-size: var(--mb-0-5);
  }
  .descrition-text {
    text-align: center;
  }
}