/* HEADER SECTION ========================== */
.header {
  width: 100%;
  z-index: 9999;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.nav {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.nav-open {
  color: #000;
  font-weight: 500;
  transition: 0.3s;
  font-size: var(--font-logo);
}

.logo:hover,
.nav-open:hover {
  color: var(--color-style-decoration);
}

.nav-open {
  font-size: 1.2rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .main-nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 3.5rem 0 1.5rem;
    text-align: center;
    background: #000;
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    z-index: 99999;
  }
}

.nav-item {
  margin-bottom: 1.5rem;
}

.nav-link {
  font-size: 1.3rem;
  color: var(--color-light-grey);
  font-weight: 400;
  transition: 0.3s;
}

.nav-link:hover {
  /* color: var(--secondary-color); */
  font-weight: 500;
}

.nav-close {
  color: var(--secondary-color);
  position: absolute;
  top: 0.4rem;
  right: 1.115rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

/* Active Link ============================== */
.active-link {
  position: relative;
  font-weight: 500;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 5px;
  background: var(--color-style-decoration);
  border-radius: 50px;
}

/* CHANGE THE BACKGROUND ON SCROLL ==================== */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background: var(--secondary-color);
}

/* HOME SECTION ======================== */
.home-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 7rem;
}

.home-data h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ce0f0f;
  text-transform: uppercase;
}

.home-data h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.5rem;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .section-title {
    font-size: 2rem;
  }

  .home-data h3 {
    font-size: 1.3rem;
  }

  .home-data h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
