
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
}

/* variables */
body{
    --text-light: rgba(243, 244, 246,0.9);
    --primary-dark: rgba(55, 65, 81, 1);
    --secondary-dark: rgba(55, 65, 81, 0.7);
    --bg-light: rgba(243, 244, 246,0.3);
    --bg-btn: rgba(67, 56, 202, 0.8);

    /* css style */
    background-color: var(--text-light);
}

body.dark{
    --text-light : rgba(55, 65, 81, 1);
    --primary-dark:rgba(243, 244, 246,1);
    --secondary-dark: rgba(243, 244, 246,0.3);
    --bg-btn: rgba(219, 233, 29, 0.897);
    --bg-light: rgba(45, 49, 54, 0.5);
}



.dark{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; 
}



.grid .icon > span{
    font-size: 4em;
    color: var(--bg-btn);
}

.primary-dark{
    color: var(--primary-dark);
    border:red;
}

.secondary-dark{
    color: var(--secondary-dark);
}

.bg-light{
    background-color: var(--bg-light);
    box-shadow: 1px 5px 20px rgba(55, 65, 81, 0.1);
}


input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    width: 70px;
    height: 30px;
    border-radius: 45px;
    outline: none;
    border: solid 1px var(--secondary-dark);
    background-size: cover;
    margin-top: -4px;
}

input[type="checkbox"]::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: var(--primary-dark);
  border-radius: 45px;
    
}

input[type="checkbox"]:checked:before{
    transform: translate(100%);
    left: 12px;
}

input[type="checkbox"]:checked{
    border: solid 1px var(--primary-dark);
}